{% extends 'base.html' %}
{% block menu%}
    <ul id="menu">
        <li><a href="\home/"><span><span>Home</span></span></a></li>
        <li><a href="\book/"><span><span>Book</span></span></a></li>
        <li><a href="\comments/"><span><span>Comments</span></span></a></li>
        <li><a href="\about/"><span><span>About</span></span></a></li>
    </ul>
{% endblock %}


{% block content %}

    <section id="content">
            <div class="no_book">
             <b>Thank you for your order!<br><br>We will connect with you in nearest time!<br><br>To leave a feedback go to <a href="\articles/">Comments</a></b>
            </div>
     </section>


{% endblock %}